---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- Animated WSL Signature Logo - Readable handwriting style -->
    <svg
      width="150"
      height="55"
      viewBox="0 0 150 55"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      class="logo-svg"
    >
      <!-- Mask for variable stroke width -->
      <defs>
        <mask id="logo-mask">
          <!-- Fill shape for mask (bold signature style) -->
          <!-- Continuous single stroke path for 'wsl' -->
          <path  d="M 84.424 33.794 Q 84.424 32.696 82.045 31.842 L 82.106 31.842 L 82.045 31.842 Q 84.424 32.696 84.424 33.794 L 84.424 33.916 L 84.119 45.567 L 84.119 45.872 L 84.424 45.872 L 94.55 45.079 L 94.855 45.079 L 94.855 44.774 L 94.916 38.003 Q 94.916 36.173 94.001 34.526 L 94.001 34.404 Q 94.001 34.282 94.52 34.282 Q 95.038 34.282 95.831 34.465 Q 97.844 35.075 97.844 36.173 L 97.722 48.983 L 97.722 49.288 L 98.027 49.288 Q 98.332 49.288 100.04 50.173 Q 101.748 51.057 104.92 51.728 L 104.981 51.728 Q 105.53 51.728 105.713 51.179 Q 107.482 47.58 108.153 41.419 Q 108.824 35.258 109.068 28.853 L 109.068 28.548 L 108.763 28.548 L 77.104 29.768 L 76.799 29.768 L 76.799 30.805 Q 76.799 31.659 76.25 31.659 Q 76.006 31.659 75.274 31.354 Q 73.322 30.622 73.322 29.585 L 73.322 29.341 Q 73.627 26.474 73.627 25.925 L 73.932 12.505 Q 73.932 9.943 73.597 8.876 Q 73.261 7.808 73.261 7.503 Q 73.261 7.198 73.993 7.198 Q 74.725 7.198 77.714 8.357 L 77.836 8.357 L 81.923 8.113 L 82.045 8.113 L 82.167 7.991 Q 85.583 4.026 86.01 2.074 Q 86.254 1.159 86.254 0.58 Q 86.254 0 86.529 0 Q 86.803 0 87.718 0.427 Q 90.158 1.525 90.219 2.318 Q 90.097 2.684 88.572 4.453 Q 87.047 6.222 85.827 7.381 L 85.278 7.991 L 99.796 7.137 L 100.162 7.137 Q 101.016 7.137 101.809 7.595 Q 102.602 8.052 102.602 8.601 Q 102.602 9.15 102.45 9.486 Q 102.297 9.821 102.175 10.37 L 101.077 21.045 Q 100.894 21.594 100.833 21.899 Q 100.162 23.668 98.18 23.089 Q 96.197 22.509 94.733 21.167 Q 92.11 18.727 91.988 17.934 Q 92.171 17.507 93.574 18.239 Q 96.99 20.191 97.417 20.191 Q 97.844 20.191 98.088 19.52 L 98.088 19.398 L 98.942 10.126 L 99.003 9.821 L 98.637 9.821 L 77.287 11.163 L 76.982 11.163 L 76.982 11.468 L 76.799 26.779 L 76.799 27.084 L 77.104 27.084 L 109.922 25.62 L 109.983 25.62 L 110.349 25.559 Q 111.325 25.559 111.935 26.322 Q 112.545 27.084 112.545 27.45 L 112.24 28.853 L 112.24 28.914 Q 111.752 38.918 111.142 43.31 Q 110.532 47.702 109.8 50.539 Q 109.068 53.375 107.696 54.382 Q 106.323 55.388 105.439 55.388 Q 104.554 55.388 103.456 54.717 Q 100.345 52.704 98.21 50.02 L 97.844 49.593 L 97.661 50.081 Q 97.478 50.569 96.807 50.569 Q 96.136 50.569 95.16 50.081 Q 94.306 49.715 94.306 49.044 L 94.367 48.678 L 94.55 47.763 L 94.611 47.336 L 72.895 49.41 Q 72.163 49.471 71.279 49.715 Q 70.394 49.959 69.723 49.959 Q 69.052 49.959 68.259 49.471 Q 67.466 48.983 67.466 48.495 Q 67.466 48.007 67.863 46.909 Q 68.259 45.811 68.259 44.835 L 68.198 39.284 L 68.198 39.223 Q 67.954 37.21 67.68 36.539 Q 67.405 35.868 67.344 35.685 Q 67.344 35.563 67.802 35.563 Q 68.259 35.563 69.113 35.807 Q 71.248 36.417 71.248 37.576 L 71.248 37.698 L 70.882 46.604 L 70.882 46.909 L 71.187 46.909 L 80.886 46.116 L 81.191 46.116 L 81.191 45.811 L 81.313 35.746 Q 81.313 33.611 80.154 31.903 Q 80.032 31.72 80.032 31.598 Q 80.154 31.537 80.642 31.537 Q 81.13 31.537 82.045 31.842 M 29.829 10.919 L 29.585 10.919 Q 26.23 9.699 25.803 9.699 Q 25.376 9.699 25.193 9.76 Q 25.254 10.004 25.559 10.614 Q 26.291 12.078 26.291 19.398 Q 26.291 23.119 25.803 29.341 Q 25.071 39.101 22.143 45.567 Q 20.557 48.983 18.971 51.423 Q 17.385 53.863 17.385 54.138 Q 17.385 54.412 17.629 54.412 Q 17.873 54.412 19.154 53.192 Q 23.79 48.678 25.986 43.066 Q 29.28 34.831 29.463 21.228 Q 29.524 17.263 29.585 13.542 L 29.585 13.298 L 34.099 11.834 L 34.16 12.078 Q 34.709 13.115 34.709 14.701 L 34.526 46.482 L 34.526 46.726 L 34.282 46.787 Q 29.402 48.19 28.548 48.282 Q 27.694 48.373 27.054 48.373 Q 26.413 48.373 25.803 48.251 L 25.62 48.251 Q 25.376 48.251 25.376 48.556 Q 25.376 48.861 25.986 49.624 Q 26.596 50.386 27.481 50.996 Q 28.365 51.606 28.914 51.606 Q 29.463 51.606 33.55 50.142 Q 37.637 48.678 43.493 45.811 L 43.798 45.628 Q 44.347 47.092 45.445 50.996 Q 45.811 52.155 46.269 52.125 Q 46.726 52.094 48.129 51.484 Q 48.617 51.179 48.617 50.63 Q 48.617 48.922 44.652 40.138 Q 43.798 38.125 43.31 37.088 Q 42.822 36.051 42.334 36.051 Q 42.029 36.051 41.267 36.356 Q 40.504 36.661 40.504 37.027 Q 40.504 37.393 41.602 39.772 Q 42.7 42.151 43.005 43.554 Q 40.504 44.835 37.637 45.628 L 37.637 45.201 L 37.942 13.115 Q 37.942 12.566 37.668 12.261 Q 37.393 11.956 36.234 11.59 L 35.502 11.285 L 36.234 10.98 Q 42.09 8.723 48.312 5.49 Q 48.8 5.185 48.8 4.88 Q 48.8 3.538 47.214 2.013 Q 46.604 1.464 46.33 1.464 Q 46.055 1.464 45.567 2.349 Q 45.079 3.233 43.493 4.392 Q 39.162 7.503 29.829 10.919 Z M 5.429 8.296 L 2.806 8.052 L 2.623 8.052 Q 2.867 9.394 4.026 10.431 Q 4.819 11.102 6.039 11.102 L 6.71 11.102 Q 7.015 11.102 7.869 11.011 Q 8.723 10.919 10.431 10.797 Q 12.139 10.675 13.786 10.523 Q 15.433 10.37 16.531 10.309 L 17.568 10.187 L 18.239 10.126 L 17.873 10.675 Q 14.823 15.677 12.261 18.239 Q 11.529 17.019 11.224 16.714 Q 11.041 16.531 10.645 16.531 Q 10.248 16.531 9.516 17.019 Q 8.784 17.507 8.784 17.782 Q 8.784 18.056 9.211 18.727 Q 12.017 23.729 12.627 29.158 L 12.627 29.402 L 12.444 29.463 Q 3.965 33.672 0.854 33.977 Q 0.183 34.038 0 34.16 Q 0.061 34.465 0.488 35.075 Q 1.708 36.844 3.142 36.844 Q 4.575 36.844 12.566 32.269 L 12.932 32.025 Q 13.237 34.465 13.237 40.26 Q 13.237 44.591 13.024 45.689 Q 12.81 46.787 12.78 47.001 Q 12.749 47.214 12.719 47.367 Q 12.688 47.519 12.658 47.733 Q 12.627 47.946 12.597 48.068 Q 12.566 48.19 12.505 48.312 Q 12.444 48.434 12.383 48.648 Q 12.322 48.861 11.956 48.861 L 11.895 48.861 Q 9.577 48.251 6.1 46.238 Q 4.514 45.323 4.301 45.323 L 4.026 45.323 L 4.026 45.384 Q 4.026 46.543 7.747 49.624 Q 11.468 52.704 12.871 52.704 Q 15.677 52.704 16.165 46.421 Q 16.287 44.286 16.287 39.925 Q 16.287 35.563 15.738 30.5 L 15.738 30.256 L 15.86 30.195 Q 23.241 25.437 23.607 23.973 L 23.363 23.973 Q 22.875 23.973 21.594 24.675 Q 20.313 25.376 18.056 26.596 Q 15.799 27.816 15.433 28.06 Q 14.884 24.278 13.42 20.801 L 13.359 20.618 L 13.481 20.435 Q 17.202 16.775 20.618 11.956 Q 21.655 10.492 22.113 10.096 Q 22.57 9.699 22.57 9.059 Q 22.57 8.418 21.564 7.839 Q 20.557 7.259 19.947 7.259 L 19.398 7.259 L 6.954 8.235 L 6.893 8.235 L 6.954 8.235 Q 6.466 8.296 6.1 8.296 L 5.429 8.296 Z M 54.839 52.826 L 54.839 52.887 Q 55.144 53.314 56.059 53.314 Q 56.364 53.253 57.95 52.46 Q 58.377 52.155 58.377 51.942 Q 58.377 51.728 58.011 51.179 Q 50.752 40.321 48.007 27.145 Q 46.177 18.544 45.506 13.237 Q 45.262 11.651 44.957 11.346 Q 44.652 11.041 43.432 10.675 Q 42.212 10.309 41.633 10.309 Q 41.053 10.309 41.053 10.523 Q 41.053 10.736 41.389 11.194 Q 41.724 11.651 41.968 12.078 Q 42.273 12.627 43.188 18.178 Q 43.798 21.899 44.957 27.633 Q 47.763 40.931 54.839 52.826 Z M 89.426 18.605 Q 89.426 17.812 85.797 15.952 Q 82.167 14.091 81.649 14.091 Q 81.13 14.091 80.734 14.732 Q 80.337 15.372 80.337 15.799 Q 80.337 16.226 81.069 16.653 Q 84.058 18.178 86.925 20.313 Q 87.535 20.74 87.932 20.74 Q 88.328 20.74 88.877 19.917 Q 89.426 19.093 89.426 18.605 Z M 16.531 10.309 L 16.47 10.309 L 16.531 10.309 Z M 97.966 23.058 L 97.905 23.058 L 97.966 23.058 Z" fill="none"
            stroke="white"
            stroke-width="12"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </mask>
      </defs>

      <!-- Animated stroke path - single continuous line -->
      <path
        class="logo-path"
         d="M 84.424 33.794 Q 84.424 32.696 82.045 31.842 L 82.106 31.842 L 82.045 31.842 Q 84.424 32.696 84.424 33.794 L 84.424 33.916 L 84.119 45.567 L 84.119 45.872 L 84.424 45.872 L 94.55 45.079 L 94.855 45.079 L 94.855 44.774 L 94.916 38.003 Q 94.916 36.173 94.001 34.526 L 94.001 34.404 Q 94.001 34.282 94.52 34.282 Q 95.038 34.282 95.831 34.465 Q 97.844 35.075 97.844 36.173 L 97.722 48.983 L 97.722 49.288 L 98.027 49.288 Q 98.332 49.288 100.04 50.173 Q 101.748 51.057 104.92 51.728 L 104.981 51.728 Q 105.53 51.728 105.713 51.179 Q 107.482 47.58 108.153 41.419 Q 108.824 35.258 109.068 28.853 L 109.068 28.548 L 108.763 28.548 L 77.104 29.768 L 76.799 29.768 L 76.799 30.805 Q 76.799 31.659 76.25 31.659 Q 76.006 31.659 75.274 31.354 Q 73.322 30.622 73.322 29.585 L 73.322 29.341 Q 73.627 26.474 73.627 25.925 L 73.932 12.505 Q 73.932 9.943 73.597 8.876 Q 73.261 7.808 73.261 7.503 Q 73.261 7.198 73.993 7.198 Q 74.725 7.198 77.714 8.357 L 77.836 8.357 L 81.923 8.113 L 82.045 8.113 L 82.167 7.991 Q 85.583 4.026 86.01 2.074 Q 86.254 1.159 86.254 0.58 Q 86.254 0 86.529 0 Q 86.803 0 87.718 0.427 Q 90.158 1.525 90.219 2.318 Q 90.097 2.684 88.572 4.453 Q 87.047 6.222 85.827 7.381 L 85.278 7.991 L 99.796 7.137 L 100.162 7.137 Q 101.016 7.137 101.809 7.595 Q 102.602 8.052 102.602 8.601 Q 102.602 9.15 102.45 9.486 Q 102.297 9.821 102.175 10.37 L 101.077 21.045 Q 100.894 21.594 100.833 21.899 Q 100.162 23.668 98.18 23.089 Q 96.197 22.509 94.733 21.167 Q 92.11 18.727 91.988 17.934 Q 92.171 17.507 93.574 18.239 Q 96.99 20.191 97.417 20.191 Q 97.844 20.191 98.088 19.52 L 98.088 19.398 L 98.942 10.126 L 99.003 9.821 L 98.637 9.821 L 77.287 11.163 L 76.982 11.163 L 76.982 11.468 L 76.799 26.779 L 76.799 27.084 L 77.104 27.084 L 109.922 25.62 L 109.983 25.62 L 110.349 25.559 Q 111.325 25.559 111.935 26.322 Q 112.545 27.084 112.545 27.45 L 112.24 28.853 L 112.24 28.914 Q 111.752 38.918 111.142 43.31 Q 110.532 47.702 109.8 50.539 Q 109.068 53.375 107.696 54.382 Q 106.323 55.388 105.439 55.388 Q 104.554 55.388 103.456 54.717 Q 100.345 52.704 98.21 50.02 L 97.844 49.593 L 97.661 50.081 Q 97.478 50.569 96.807 50.569 Q 96.136 50.569 95.16 50.081 Q 94.306 49.715 94.306 49.044 L 94.367 48.678 L 94.55 47.763 L 94.611 47.336 L 72.895 49.41 Q 72.163 49.471 71.279 49.715 Q 70.394 49.959 69.723 49.959 Q 69.052 49.959 68.259 49.471 Q 67.466 48.983 67.466 48.495 Q 67.466 48.007 67.863 46.909 Q 68.259 45.811 68.259 44.835 L 68.198 39.284 L 68.198 39.223 Q 67.954 37.21 67.68 36.539 Q 67.405 35.868 67.344 35.685 Q 67.344 35.563 67.802 35.563 Q 68.259 35.563 69.113 35.807 Q 71.248 36.417 71.248 37.576 L 71.248 37.698 L 70.882 46.604 L 70.882 46.909 L 71.187 46.909 L 80.886 46.116 L 81.191 46.116 L 81.191 45.811 L 81.313 35.746 Q 81.313 33.611 80.154 31.903 Q 80.032 31.72 80.032 31.598 Q 80.154 31.537 80.642 31.537 Q 81.13 31.537 82.045 31.842 M 29.829 10.919 L 29.585 10.919 Q 26.23 9.699 25.803 9.699 Q 25.376 9.699 25.193 9.76 Q 25.254 10.004 25.559 10.614 Q 26.291 12.078 26.291 19.398 Q 26.291 23.119 25.803 29.341 Q 25.071 39.101 22.143 45.567 Q 20.557 48.983 18.971 51.423 Q 17.385 53.863 17.385 54.138 Q 17.385 54.412 17.629 54.412 Q 17.873 54.412 19.154 53.192 Q 23.79 48.678 25.986 43.066 Q 29.28 34.831 29.463 21.228 Q 29.524 17.263 29.585 13.542 L 29.585 13.298 L 34.099 11.834 L 34.16 12.078 Q 34.709 13.115 34.709 14.701 L 34.526 46.482 L 34.526 46.726 L 34.282 46.787 Q 29.402 48.19 28.548 48.282 Q 27.694 48.373 27.054 48.373 Q 26.413 48.373 25.803 48.251 L 25.62 48.251 Q 25.376 48.251 25.376 48.556 Q 25.376 48.861 25.986 49.624 Q 26.596 50.386 27.481 50.996 Q 28.365 51.606 28.914 51.606 Q 29.463 51.606 33.55 50.142 Q 37.637 48.678 43.493 45.811 L 43.798 45.628 Q 44.347 47.092 45.445 50.996 Q 45.811 52.155 46.269 52.125 Q 46.726 52.094 48.129 51.484 Q 48.617 51.179 48.617 50.63 Q 48.617 48.922 44.652 40.138 Q 43.798 38.125 43.31 37.088 Q 42.822 36.051 42.334 36.051 Q 42.029 36.051 41.267 36.356 Q 40.504 36.661 40.504 37.027 Q 40.504 37.393 41.602 39.772 Q 42.7 42.151 43.005 43.554 Q 40.504 44.835 37.637 45.628 L 37.637 45.201 L 37.942 13.115 Q 37.942 12.566 37.668 12.261 Q 37.393 11.956 36.234 11.59 L 35.502 11.285 L 36.234 10.98 Q 42.09 8.723 48.312 5.49 Q 48.8 5.185 48.8 4.88 Q 48.8 3.538 47.214 2.013 Q 46.604 1.464 46.33 1.464 Q 46.055 1.464 45.567 2.349 Q 45.079 3.233 43.493 4.392 Q 39.162 7.503 29.829 10.919 Z M 5.429 8.296 L 2.806 8.052 L 2.623 8.052 Q 2.867 9.394 4.026 10.431 Q 4.819 11.102 6.039 11.102 L 6.71 11.102 Q 7.015 11.102 7.869 11.011 Q 8.723 10.919 10.431 10.797 Q 12.139 10.675 13.786 10.523 Q 15.433 10.37 16.531 10.309 L 17.568 10.187 L 18.239 10.126 L 17.873 10.675 Q 14.823 15.677 12.261 18.239 Q 11.529 17.019 11.224 16.714 Q 11.041 16.531 10.645 16.531 Q 10.248 16.531 9.516 17.019 Q 8.784 17.507 8.784 17.782 Q 8.784 18.056 9.211 18.727 Q 12.017 23.729 12.627 29.158 L 12.627 29.402 L 12.444 29.463 Q 3.965 33.672 0.854 33.977 Q 0.183 34.038 0 34.16 Q 0.061 34.465 0.488 35.075 Q 1.708 36.844 3.142 36.844 Q 4.575 36.844 12.566 32.269 L 12.932 32.025 Q 13.237 34.465 13.237 40.26 Q 13.237 44.591 13.024 45.689 Q 12.81 46.787 12.78 47.001 Q 12.749 47.214 12.719 47.367 Q 12.688 47.519 12.658 47.733 Q 12.627 47.946 12.597 48.068 Q 12.566 48.19 12.505 48.312 Q 12.444 48.434 12.383 48.648 Q 12.322 48.861 11.956 48.861 L 11.895 48.861 Q 9.577 48.251 6.1 46.238 Q 4.514 45.323 4.301 45.323 L 4.026 45.323 L 4.026 45.384 Q 4.026 46.543 7.747 49.624 Q 11.468 52.704 12.871 52.704 Q 15.677 52.704 16.165 46.421 Q 16.287 44.286 16.287 39.925 Q 16.287 35.563 15.738 30.5 L 15.738 30.256 L 15.86 30.195 Q 23.241 25.437 23.607 23.973 L 23.363 23.973 Q 22.875 23.973 21.594 24.675 Q 20.313 25.376 18.056 26.596 Q 15.799 27.816 15.433 28.06 Q 14.884 24.278 13.42 20.801 L 13.359 20.618 L 13.481 20.435 Q 17.202 16.775 20.618 11.956 Q 21.655 10.492 22.113 10.096 Q 22.57 9.699 22.57 9.059 Q 22.57 8.418 21.564 7.839 Q 20.557 7.259 19.947 7.259 L 19.398 7.259 L 6.954 8.235 L 6.893 8.235 L 6.954 8.235 Q 6.466 8.296 6.1 8.296 L 5.429 8.296 Z M 54.839 52.826 L 54.839 52.887 Q 55.144 53.314 56.059 53.314 Q 56.364 53.253 57.95 52.46 Q 58.377 52.155 58.377 51.942 Q 58.377 51.728 58.011 51.179 Q 50.752 40.321 48.007 27.145 Q 46.177 18.544 45.506 13.237 Q 45.262 11.651 44.957 11.346 Q 44.652 11.041 43.432 10.675 Q 42.212 10.309 41.633 10.309 Q 41.053 10.309 41.053 10.523 Q 41.053 10.736 41.389 11.194 Q 41.724 11.651 41.968 12.078 Q 42.273 12.627 43.188 18.178 Q 43.798 21.899 44.957 27.633 Q 47.763 40.931 54.839 52.826 Z M 89.426 18.605 Q 89.426 17.812 85.797 15.952 Q 82.167 14.091 81.649 14.091 Q 81.13 14.091 80.734 14.732 Q 80.337 15.372 80.337 15.799 Q 80.337 16.226 81.069 16.653 Q 84.058 18.178 86.925 20.313 Q 87.535 20.74 87.932 20.74 Q 88.328 20.74 88.877 19.917 Q 89.426 19.093 89.426 18.605 Z M 16.531 10.309 L 16.47 10.309 L 16.531 10.309 Z M 97.966 23.058 L 97.905 23.058 L 97.966 23.058 Z" fill="none"
        stroke="currentColor"
        stroke-width="12"
        stroke-linecap="round"
        stroke-linejoin="round"
        mask="url(#logo-mask)"></path>
    </svg>
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-svg {
    height: 2rem;
  }

  /* Animated signature effect - single continuous stroke */
  @media (prefers-reduced-motion: no-preference) {
    .logo-path {
      stroke-dasharray: 260;
      stroke-dashoffset: 260;
      animation:
        draw 3s ease-in-out forwards,
        loop 7s ease-in-out 3s infinite;
    }

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes loop {
      0% {
        stroke-dashoffset: 0;
      }
      40% {
        stroke-dashoffset: 0;
      }
      70% {
        stroke-dashoffset: 260;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }

  /* Respect reduced motion preference */
  @media (prefers-reduced-motion: reduce) {
    .logo-path {
      stroke-dasharray: none;
      animation: none;
    }
  }

  /* Color adaptation */
  .logo-path {
    color: #17191e;
  }

  :global(.dark) .logo-path {
    color: #fdfdfd;
  }
</style>
