---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- Animated WSL Signature Logo - Readable handwriting style -->
    <svg
      width="150"
      height="55"
      viewBox="0 0 150 55"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      class="logo-svg"
    >
      <!-- Mask for variable stroke width -->
      <defs>
        <mask id="logo-mask">
          <!-- Fill shape for mask (bold signature style) -->
          <!-- Continuous single stroke path for 'wsl' -->
          <path  d="M 89.18 9.59 L 89.32 9.59 L 94.01 9.31 L 94.15 9.31 L 94.29 9.17 Q 98.21 4.62 98.7 2.38 Q 98.98 1.33 98.98 0.665 Q 98.98 0 99.295 0 Q 99.61 0 100.66 0.49 Q 103.46 1.75 103.53 2.66 Q 103.39 3.08 101.64 5.11 Q 99.89 7.14 98.49 8.47 L 97.86 9.17 L 114.52 8.19 L 114.94 8.19 Q 115.92 8.19 116.83 8.715 Q 117.74 9.24 117.74 9.87 Q 117.74 10.5 117.565 10.885 Q 117.39 11.27 117.25 11.9 L 115.99 24.15 Q 115.78 24.78 115.71 25.13 Q 114.94 27.16 112.665 26.495 Q 110.39 25.83 108.71 24.29 Q 105.7 21.49 105.56 20.58 Q 105.77 20.09 107.38 20.93 Q 111.3 23.17 111.79 23.17 Q 112.28 23.17 112.56 22.4 L 112.56 22.26 L 113.54 11.62 L 113.61 11.27 L 113.19 11.27 L 88.69 12.81 L 88.34 12.81 L 88.34 13.16 L 88.13 30.73 L 88.13 31.08 L 88.48 31.08 L 126.14 29.4 L 126.21 29.4 L 126.63 29.33 Q 127.75 29.33 128.45 30.205 Q 129.15 31.08 129.15 31.5 L 128.8 33.11 L 128.8 33.18 Q 128.24 44.66 127.54 49.7 Q 126.84 54.74 126 57.995 Q 125.16 61.25 123.585 62.405 Q 122.01 63.56 120.995 63.56 Q 119.98 63.56 118.72 62.79 Q 115.15 60.48 112.7 57.4 L 112.28 56.91 L 112.07 57.47 Q 111.86 58.03 111.09 58.03 Q 110.32 58.03 109.2 57.47 Q 108.22 57.05 108.22 56.28 L 108.29 55.86 L 108.5 54.81 L 108.57 54.32 L 83.65 56.7 Q 82.81 56.77 81.795 57.05 Q 80.78 57.33 80.01 57.33 Q 79.24 57.33 78.33 56.77 Q 77.42 56.21 77.42 55.65 Q 77.42 55.09 77.875 53.83 Q 78.33 52.57 78.33 51.45 L 78.26 45.08 L 78.26 45.01 Q 77.98 42.7 77.665 41.93 Q 77.35 41.16 77.28 40.95 Q 77.28 40.81 77.805 40.81 Q 78.33 40.81 79.31 41.09 Q 81.76 41.79 81.76 43.12 L 81.76 43.26 L 81.34 53.48 L 81.34 53.83 L 81.69 53.83 L 92.82 52.92 L 93.17 52.92 L 93.17 52.57 L 93.31 41.02 Q 93.31 38.57 91.98 36.61 Q 91.84 36.4 91.84 36.26 Q 91.98 36.19 92.54 36.19 Q 93.1 36.19 94.15 36.54 Q 96.88 37.52 96.88 38.78 L 96.88 38.92 L 96.53 52.29 L 96.53 52.64 L 96.88 52.64 L 108.5 51.73 L 108.85 51.73 L 108.85 51.38 L 108.92 43.61 Q 108.92 41.51 107.87 39.62 L 107.87 39.48 Q 107.87 39.34 108.465 39.34 Q 109.06 39.34 109.97 39.55 Q 112.28 40.25 112.28 41.51 L 112.14 56.21 L 112.14 56.56 L 112.49 56.56 Q 112.84 56.56 114.8 57.575 Q 116.76 58.59 120.4 59.36 L 120.47 59.36 Q 121.1 59.36 121.31 58.73 Q 123.34 54.6 124.11 47.53 Q 124.88 40.46 125.16 33.11 L 125.16 32.76 L 124.81 32.76 L 88.48 34.16 L 88.13 34.16 L 88.13 35.35 Q 88.13 36.33 87.5 36.33 Q 87.22 36.33 86.38 35.98 Q 84.14 35.14 84.14 33.95 L 84.14 33.67 Q 84.49 30.38 84.49 29.75 L 84.84 14.35 Q 84.84 11.41 84.455 10.185 Q 84.07 8.96 84.07 8.61 Q 84.07 8.26 84.91 8.26 Q 85.75 8.26 89.18 9.59 Z M 33.95 12.53 L 34.23 12.53 Q 50.12 6.65 52.36 2.59 Q 52.85 1.68 53.165 1.68 Q 53.48 1.68 54.18 2.38 Q 56 4.06 56 5.6 Q 56 5.95 55.44 6.3 Q 48.3 9.94 41.58 12.6 L 40.74 12.95 L 41.58 13.3 Q 42.91 13.72 43.225 14.07 Q 43.54 14.42 43.54 15.05 L 43.19 51.87 L 43.19 52.36 Q 46.48 51.45 49.35 49.98 Q 49.07 48.44 47.775 45.675 Q 46.48 42.91 46.48 42.49 Q 46.48 42.07 47.355 41.72 Q 48.23 41.37 48.58 41.37 Q 49.14 41.37 49.7 42.56 Q 50.26 43.75 51.24 46.06 Q 55.79 56.14 55.79 58.1 Q 55.79 58.73 54.915 59.29 Q 54.04 59.85 53.2 59.85 Q 52.57 59.85 52.15 58.52 Q 50.96 54.18 50.26 52.36 L 49.91 52.57 Q 43.19 55.86 38.5 57.54 Q 33.81 59.22 33.18 59.22 Q 32.55 59.22 31.535 58.52 Q 30.52 57.82 29.82 56.945 Q 29.12 56.07 29.12 55.72 Q 29.12 55.37 29.4 55.37 L 29.61 55.37 Q 30.31 55.51 31.045 55.51 Q 31.78 55.51 32.76 55.405 Q 33.74 55.3 39.34 53.69 L 39.62 53.62 L 39.62 53.34 L 39.83 16.87 Q 39.83 15.05 39.2 13.86 L 39.13 13.58 L 33.95 15.26 L 33.95 15.54 Q 33.88 19.81 33.81 24.36 Q 33.6 39.97 29.82 49.42 Q 27.3 55.86 21.98 61.04 Q 20.51 62.44 20.23 62.44 Q 19.95 62.44 19.95 62.09 Q 19.95 61.74 21.7 59.08 Q 28.49 49 29.61 33.67 Q 30.17 26.53 30.17 20.195 Q 30.17 13.86 29.33 12.18 Q 28.98 11.48 28.91 11.2 Q 29.12 11.13 29.61 11.13 Q 30.1 11.13 33.95 12.53 Z M 26.6 27.51 L 27.09 27.51 Q 26.67 29.19 18.2 34.65 L 18.06 34.72 L 18.06 35 Q 18.69 40.81 18.69 45.815 Q 18.69 50.82 18.48 53.9 Q 18.27 56.98 17.29 58.73 Q 16.31 60.48 14.735 60.48 Q 13.16 60.48 8.89 56.945 Q 4.62 53.41 4.62 52.08 L 4.62 52.01 L 4.76 52.01 Q 5.25 52.08 8.155 53.76 Q 11.06 55.44 13.65 56.07 L 13.72 56.07 Q 14.14 56.07 14.21 55.825 Q 14.28 55.58 14.35 55.44 Q 14.42 55.3 14.455 55.16 Q 14.49 55.02 14.525 54.775 Q 14.56 54.53 14.595 54.355 Q 14.63 54.18 14.665 53.935 Q 14.7 53.69 14.945 52.43 Q 15.19 51.17 15.19 45.36 Q 15.19 39.55 14.84 36.75 L 14.42 37.03 Q 5.25 42.28 3.605 42.28 Q 1.96 42.28 0.56 40.25 Q 0.07 39.55 0 39.2 Q 0.21 39.06 0.98 38.99 Q 1.75 38.92 4.025 38.36 Q 6.3 37.8 14.28 33.81 L 14.49 33.74 L 14.49 33.46 Q 13.79 27.23 10.57 21.49 Q 10.08 20.72 10.08 20.405 Q 10.08 20.09 10.92 19.53 Q 11.76 18.97 12.215 18.97 Q 12.67 18.97 12.95 19.25 Q 13.23 19.53 14.07 20.93 Q 17.01 17.99 20.51 12.25 L 20.93 11.62 L 20.16 11.69 L 18.97 11.83 Q 17.71 11.9 15.82 12.075 Q 13.93 12.25 11.97 12.39 Q 10.01 12.53 9.03 12.635 Q 8.05 12.74 7.7 12.74 L 6.93 12.74 Q 5.53 12.74 4.62 11.97 Q 3.29 10.78 3.01 9.24 L 3.22 9.24 L 6.23 9.52 L 7 9.52 Q 7.42 9.52 7.98 9.45 L 22.26 8.33 L 22.89 8.33 Q 23.59 8.33 24.745 8.995 Q 25.9 9.66 25.9 10.395 Q 25.9 11.13 25.375 11.585 Q 24.85 12.04 23.66 13.72 Q 19.74 19.25 15.47 23.45 L 15.33 23.66 L 15.4 23.87 Q 17.08 27.86 17.71 32.2 Q 18.13 31.92 20.72 30.52 Q 23.31 29.12 24.78 28.315 Q 26.25 27.51 26.6 27.51 Z M 62.93 60.69 L 62.93 60.62 Q 54.81 46.97 51.59 31.71 Q 50.26 25.13 49.385 19.81 Q 48.51 14.49 48.195 13.93 Q 47.88 13.37 47.495 12.845 Q 47.11 12.32 47.11 12.075 Q 47.11 11.83 47.775 11.83 Q 48.44 11.83 49.84 12.25 Q 51.24 12.67 51.66 13.09 Q 52.08 13.51 52.43 16.975 Q 52.78 20.44 55.09 31.15 Q 58.17 46.27 66.57 58.73 Q 66.99 59.36 66.99 59.64 Q 66.92 59.92 65.975 60.55 Q 65.03 61.18 64.12 61.18 Q 63.21 61.18 62.93 60.69 Z M 102.62 21.35 Q 102.62 21.91 101.99 22.855 Q 101.36 23.8 100.905 23.8 Q 100.45 23.8 99.75 23.31 Q 96.46 20.86 93.03 19.11 Q 92.19 18.62 92.19 18.13 Q 92.19 17.64 92.645 16.905 Q 93.1 16.17 93.695 16.17 Q 94.29 16.17 98.455 18.305 Q 102.62 20.44 102.62 21.35 Z M 112.35 26.46 L 112.42 26.46 L 112.35 26.46 Z" fill="none"
            stroke="white"
            stroke-width="12"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </mask>
      </defs>

      <!-- Animated stroke path - single continuous line -->
      <path
        class="logo-path"
         d="M 89.18 9.59 L 89.32 9.59 L 94.01 9.31 L 94.15 9.31 L 94.29 9.17 Q 98.21 4.62 98.7 2.38 Q 98.98 1.33 98.98 0.665 Q 98.98 0 99.295 0 Q 99.61 0 100.66 0.49 Q 103.46 1.75 103.53 2.66 Q 103.39 3.08 101.64 5.11 Q 99.89 7.14 98.49 8.47 L 97.86 9.17 L 114.52 8.19 L 114.94 8.19 Q 115.92 8.19 116.83 8.715 Q 117.74 9.24 117.74 9.87 Q 117.74 10.5 117.565 10.885 Q 117.39 11.27 117.25 11.9 L 115.99 24.15 Q 115.78 24.78 115.71 25.13 Q 114.94 27.16 112.665 26.495 Q 110.39 25.83 108.71 24.29 Q 105.7 21.49 105.56 20.58 Q 105.77 20.09 107.38 20.93 Q 111.3 23.17 111.79 23.17 Q 112.28 23.17 112.56 22.4 L 112.56 22.26 L 113.54 11.62 L 113.61 11.27 L 113.19 11.27 L 88.69 12.81 L 88.34 12.81 L 88.34 13.16 L 88.13 30.73 L 88.13 31.08 L 88.48 31.08 L 126.14 29.4 L 126.21 29.4 L 126.63 29.33 Q 127.75 29.33 128.45 30.205 Q 129.15 31.08 129.15 31.5 L 128.8 33.11 L 128.8 33.18 Q 128.24 44.66 127.54 49.7 Q 126.84 54.74 126 57.995 Q 125.16 61.25 123.585 62.405 Q 122.01 63.56 120.995 63.56 Q 119.98 63.56 118.72 62.79 Q 115.15 60.48 112.7 57.4 L 112.28 56.91 L 112.07 57.47 Q 111.86 58.03 111.09 58.03 Q 110.32 58.03 109.2 57.47 Q 108.22 57.05 108.22 56.28 L 108.29 55.86 L 108.5 54.81 L 108.57 54.32 L 83.65 56.7 Q 82.81 56.77 81.795 57.05 Q 80.78 57.33 80.01 57.33 Q 79.24 57.33 78.33 56.77 Q 77.42 56.21 77.42 55.65 Q 77.42 55.09 77.875 53.83 Q 78.33 52.57 78.33 51.45 L 78.26 45.08 L 78.26 45.01 Q 77.98 42.7 77.665 41.93 Q 77.35 41.16 77.28 40.95 Q 77.28 40.81 77.805 40.81 Q 78.33 40.81 79.31 41.09 Q 81.76 41.79 81.76 43.12 L 81.76 43.26 L 81.34 53.48 L 81.34 53.83 L 81.69 53.83 L 92.82 52.92 L 93.17 52.92 L 93.17 52.57 L 93.31 41.02 Q 93.31 38.57 91.98 36.61 Q 91.84 36.4 91.84 36.26 Q 91.98 36.19 92.54 36.19 Q 93.1 36.19 94.15 36.54 Q 96.88 37.52 96.88 38.78 L 96.88 38.92 L 96.53 52.29 L 96.53 52.64 L 96.88 52.64 L 108.5 51.73 L 108.85 51.73 L 108.85 51.38 L 108.92 43.61 Q 108.92 41.51 107.87 39.62 L 107.87 39.48 Q 107.87 39.34 108.465 39.34 Q 109.06 39.34 109.97 39.55 Q 112.28 40.25 112.28 41.51 L 112.14 56.21 L 112.14 56.56 L 112.49 56.56 Q 112.84 56.56 114.8 57.575 Q 116.76 58.59 120.4 59.36 L 120.47 59.36 Q 121.1 59.36 121.31 58.73 Q 123.34 54.6 124.11 47.53 Q 124.88 40.46 125.16 33.11 L 125.16 32.76 L 124.81 32.76 L 88.48 34.16 L 88.13 34.16 L 88.13 35.35 Q 88.13 36.33 87.5 36.33 Q 87.22 36.33 86.38 35.98 Q 84.14 35.14 84.14 33.95 L 84.14 33.67 Q 84.49 30.38 84.49 29.75 L 84.84 14.35 Q 84.84 11.41 84.455 10.185 Q 84.07 8.96 84.07 8.61 Q 84.07 8.26 84.91 8.26 Q 85.75 8.26 89.18 9.59 Z M 33.95 12.53 L 34.23 12.53 Q 50.12 6.65 52.36 2.59 Q 52.85 1.68 53.165 1.68 Q 53.48 1.68 54.18 2.38 Q 56 4.06 56 5.6 Q 56 5.95 55.44 6.3 Q 48.3 9.94 41.58 12.6 L 40.74 12.95 L 41.58 13.3 Q 42.91 13.72 43.225 14.07 Q 43.54 14.42 43.54 15.05 L 43.19 51.87 L 43.19 52.36 Q 46.48 51.45 49.35 49.98 Q 49.07 48.44 47.775 45.675 Q 46.48 42.91 46.48 42.49 Q 46.48 42.07 47.355 41.72 Q 48.23 41.37 48.58 41.37 Q 49.14 41.37 49.7 42.56 Q 50.26 43.75 51.24 46.06 Q 55.79 56.14 55.79 58.1 Q 55.79 58.73 54.915 59.29 Q 54.04 59.85 53.2 59.85 Q 52.57 59.85 52.15 58.52 Q 50.96 54.18 50.26 52.36 L 49.91 52.57 Q 43.19 55.86 38.5 57.54 Q 33.81 59.22 33.18 59.22 Q 32.55 59.22 31.535 58.52 Q 30.52 57.82 29.82 56.945 Q 29.12 56.07 29.12 55.72 Q 29.12 55.37 29.4 55.37 L 29.61 55.37 Q 30.31 55.51 31.045 55.51 Q 31.78 55.51 32.76 55.405 Q 33.74 55.3 39.34 53.69 L 39.62 53.62 L 39.62 53.34 L 39.83 16.87 Q 39.83 15.05 39.2 13.86 L 39.13 13.58 L 33.95 15.26 L 33.95 15.54 Q 33.88 19.81 33.81 24.36 Q 33.6 39.97 29.82 49.42 Q 27.3 55.86 21.98 61.04 Q 20.51 62.44 20.23 62.44 Q 19.95 62.44 19.95 62.09 Q 19.95 61.74 21.7 59.08 Q 28.49 49 29.61 33.67 Q 30.17 26.53 30.17 20.195 Q 30.17 13.86 29.33 12.18 Q 28.98 11.48 28.91 11.2 Q 29.12 11.13 29.61 11.13 Q 30.1 11.13 33.95 12.53 Z M 26.6 27.51 L 27.09 27.51 Q 26.67 29.19 18.2 34.65 L 18.06 34.72 L 18.06 35 Q 18.69 40.81 18.69 45.815 Q 18.69 50.82 18.48 53.9 Q 18.27 56.98 17.29 58.73 Q 16.31 60.48 14.735 60.48 Q 13.16 60.48 8.89 56.945 Q 4.62 53.41 4.62 52.08 L 4.62 52.01 L 4.76 52.01 Q 5.25 52.08 8.155 53.76 Q 11.06 55.44 13.65 56.07 L 13.72 56.07 Q 14.14 56.07 14.21 55.825 Q 14.28 55.58 14.35 55.44 Q 14.42 55.3 14.455 55.16 Q 14.49 55.02 14.525 54.775 Q 14.56 54.53 14.595 54.355 Q 14.63 54.18 14.665 53.935 Q 14.7 53.69 14.945 52.43 Q 15.19 51.17 15.19 45.36 Q 15.19 39.55 14.84 36.75 L 14.42 37.03 Q 5.25 42.28 3.605 42.28 Q 1.96 42.28 0.56 40.25 Q 0.07 39.55 0 39.2 Q 0.21 39.06 0.98 38.99 Q 1.75 38.92 4.025 38.36 Q 6.3 37.8 14.28 33.81 L 14.49 33.74 L 14.49 33.46 Q 13.79 27.23 10.57 21.49 Q 10.08 20.72 10.08 20.405 Q 10.08 20.09 10.92 19.53 Q 11.76 18.97 12.215 18.97 Q 12.67 18.97 12.95 19.25 Q 13.23 19.53 14.07 20.93 Q 17.01 17.99 20.51 12.25 L 20.93 11.62 L 20.16 11.69 L 18.97 11.83 Q 17.71 11.9 15.82 12.075 Q 13.93 12.25 11.97 12.39 Q 10.01 12.53 9.03 12.635 Q 8.05 12.74 7.7 12.74 L 6.93 12.74 Q 5.53 12.74 4.62 11.97 Q 3.29 10.78 3.01 9.24 L 3.22 9.24 L 6.23 9.52 L 7 9.52 Q 7.42 9.52 7.98 9.45 L 22.26 8.33 L 22.89 8.33 Q 23.59 8.33 24.745 8.995 Q 25.9 9.66 25.9 10.395 Q 25.9 11.13 25.375 11.585 Q 24.85 12.04 23.66 13.72 Q 19.74 19.25 15.47 23.45 L 15.33 23.66 L 15.4 23.87 Q 17.08 27.86 17.71 32.2 Q 18.13 31.92 20.72 30.52 Q 23.31 29.12 24.78 28.315 Q 26.25 27.51 26.6 27.51 Z M 62.93 60.69 L 62.93 60.62 Q 54.81 46.97 51.59 31.71 Q 50.26 25.13 49.385 19.81 Q 48.51 14.49 48.195 13.93 Q 47.88 13.37 47.495 12.845 Q 47.11 12.32 47.11 12.075 Q 47.11 11.83 47.775 11.83 Q 48.44 11.83 49.84 12.25 Q 51.24 12.67 51.66 13.09 Q 52.08 13.51 52.43 16.975 Q 52.78 20.44 55.09 31.15 Q 58.17 46.27 66.57 58.73 Q 66.99 59.36 66.99 59.64 Q 66.92 59.92 65.975 60.55 Q 65.03 61.18 64.12 61.18 Q 63.21 61.18 62.93 60.69 Z M 102.62 21.35 Q 102.62 21.91 101.99 22.855 Q 101.36 23.8 100.905 23.8 Q 100.45 23.8 99.75 23.31 Q 96.46 20.86 93.03 19.11 Q 92.19 18.62 92.19 18.13 Q 92.19 17.64 92.645 16.905 Q 93.1 16.17 93.695 16.17 Q 94.29 16.17 98.455 18.305 Q 102.62 20.44 102.62 21.35 Z M 112.35 26.46 L 112.42 26.46 L 112.35 26.46 Z" fill="none"
        stroke="currentColor"
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        mask="url(#logo-mask)"></path>
    </svg>
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-svg {
    height: 2rem;
  }

  /* Animated signature effect - single continuous stroke */
  @media (prefers-reduced-motion: no-preference) {
    .logo-path {
      stroke-dasharray: 260;
      stroke-dashoffset: 260;
      animation:
        draw 3s ease-in-out forwards,
        loop 7s ease-in-out 3s infinite;
    }

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes loop {
      0% {
        stroke-dashoffset: 0;
      }
      40% {
        stroke-dashoffset: 0;
      }
      70% {
        stroke-dashoffset: 260;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }

  /* Respect reduced motion preference */
  @media (prefers-reduced-motion: reduce) {
    .logo-path {
      stroke-dasharray: none;
      animation: none;
    }
  }

  /* Color adaptation */
  .logo-path {
    color: #17191e;
  }

  :global(.dark) .logo-path {
    color: #fdfdfd;
  }
</style>
